---
// astro imports
import { Image } from "astro:assets";

// img import
import achilles from "../assets/logo/achilles.jpg";
import bhp from "../assets/logo/bhp.jpg";
import cap from "../assets/logo/cap.jpg";
import codelco from "../assets/logo/codelco.jpg";
import elastotec from "../assets/logo/elastotec.jpg";
import glencore from "../assets/logo/glencore.jpg";
import hoph from "../assets/logo/hoph.jpg";
import kinder from "../assets/logo/kinder.jpg";
import lumim from "../assets/logo/lumim.jpg";
import lundinmining from "../assets/logo/lundinmining.jpg";
import prok from '../assets/logo/prok.jpg'
import pucobre from '../assets/logo/pucobre.jpg'
import rednegocios from '../assets/logo/rednegocios.jpg'
import sap from '../assets/logo/sap.jpg'
import shareate from '../assets/logo/shareate.jpg'
import sicep from '../assets/logo/sicep.jpg'
---

<section id="Testimonials">
  <div>
    <h2>Nuestros afiliados</h2>
    <div id="Affiliates">
      <div class="box">
        <a
          href="/"
          aria-label="Achilles">
          <Image
            src={achilles}
            alt="Logo Achilles"
          />
        </a>
      </div>

      <div class="box">
        <a
          href="/"
          aria-label="BHP">
          <Image
            src={bhp}
            alt="Logo BHP"
          />
        </a>
      </div>
      <div class="box">
        <a
          href="/"
          aria-label="Cap">
          <Image
            src={cap}
            alt="Logo Cap"
          />
        </a>
      </div>
      <div class="box">
        <a
          href="/"
          aria-label="Codelco">
          <Image
            src={codelco}
            alt="Logo Codelco"
          />
        </a>
      </div>
      <div class="box">
        <a
          href="/"
          aria-label="Elastotec">
          <Image
            src={elastotec}
            alt="Logo Elastotec"
          />
        </a>
      </div>
      <div class="box">
        <a
          href="/"
          aria-label="Glencore">
          <Image
            src={glencore}
            alt="Logo Glencore"
          />
        </a>
      </div>
      <div class="box">
        <a
          href="/"
          aria-label="Hoph">
          <Image
            src={hoph}
            alt="Logo Hoph"
          />
        </a>
      </div>
      <div class="box">
        <a
          href="/"
          aria-label="Kinder">
          <Image
            src={kinder}
            alt="Logo Kinder"
          />
        </a>
      </div>
      <div class="box">
        <a
          href="/"
          aria-label="Lumin">
          <Image
            src={lumim}
            alt="Logo Lumin"
          />
        </a>
      </div>
      <div class="box">
        <a
          href="/"
          aria-label="LundingMining">
          <Image
            src={lundinmining}
            alt="Logo LundingMining"
          />
        </a>
      </div>
      <div class="box">
        <a
          href="/"
          aria-label="Prok">
          <Image
            src={prok}
            alt="Logo Prok"
          />
        </a>
      </div>
      <div class="box">
        <a
          href="/"
          aria-label="Pucobre">
          <Image
            src={pucobre}
            alt="Logo Pucobre"
          />
        </a>
      </div>
      <div class="box">
        <a
          href="/"
          aria-label="RedNegocios">
          <Image
            src={rednegocios}
            alt="Logo RedNegocios"
          />
        </a>
      </div>
      <div class="box">
        <a
          href="/"
          aria-label="Sap">
          <Image
            src={sap}
            alt="Logo Sap"
          />
        </a>
      </div>
      <div class="box">
        <a
          href="/"
          aria-label="Shareate">
          <Image
            src={shareate}
            alt="Logo Shareate"
          />
        </a>
      </div>
      <div class="box">
        <a
          href="/"
          aria-label="Sicep">
          <Image
            src={sicep}
            alt="Logo Sicep"
          />
        </a>
      </div>
    </div>
  </div>
</section>

<style>
  h2 {
    display: flex;
    justify-content: center;

    position: relative;
    color: hsl(var(--main-dark), 90%);
  }

  #Testimonials > div {
    width: 100%;
    max-width: 1100px;
    margin-inline: auto;
  }

  #Affiliates {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(min(calc(150px + 0.5rem), 100%), 1fr)
    );
    gap: 2rem;
    justify-items: center;
    padding-inline: 1rem;
  }

  .box {
    background-color: hsl(var(--secondary));
    border-radius: 50%;
    position: relative;
  }

  .box:is(:hover, :focus-visible) {
    background-color: hsl(var(--important));
    transition: background-color 200ms linear;
  }

  .box > a:is(:hover, :focus-visible) {
    opacity: 0.9;
    outline: 4px solid hsl(var(--important));
    outline-offset: 10px;
  }

  .box:is(:active) {
    scale: 0.97;
  }

  .box > * {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--white));
    margin: 0.25rem;
    border-radius: 50%;
    overflow: hidden;
  }

  .box img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 50%;
  }

  .zoom-125 {
    zoom: 125%;
  }

  .zoom-150 {
    zoom: 150%;
  }
</style>
